NO_START=0 # Start on boot
JAVA_HOME=/usr/java/default
JETTY_HOME=/opt/solr
JETTY_USER=solr
JETTY_PORT={{ jetty_solr_port }}
JETTY_LOGS=/opt/solr/logs

JAVA_OPTIONS="-Dsolr.solr.home=$JETTY_HOME/$JETTY_USER$JAVA_OPTIONS"
