{% for name, value in databases.iteritems() %}
$databases['{{ name }}'] = [
  'default' => [
    'port' => '',
    'host' => 'localhost',
    'driver' => 'mysql',
    'prefix' => '',
    'database' => '{{ value.name }}',
    'username' => '{{ mysql.user }}',
    'password' => '{{ mysql.pass }}',
  ],
];
{% endfor %}

// Settings of the "Domain Access" module.
$domain_access_settings = DRUPAL_ROOT . '/{{ drupal.domain.path }}/settings.inc';

if (file_exists($domain_access_settings)) {
  require_once $domain_access_settings;
}
