---
droplet_add: no
virtualmachine:
  path: "/home/{{ phpvirtualbox.user.user }}/VirtualBox\\ VMs/initvm"
  package: "http://propeople:pr0ppl@propeople.com.ua/ffw_ubuntu_14.04_minimal.tar.gz"
  port_forwarding:
    ssh: :22
    http: 127.0.0.1:80
    https: 127.0.0.1:443
